<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  

  <title>AutoPro</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css')}}" rel="stylesheet" />
  
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <style>
    body{
	background-image: url(../static/images/error500.jpg);
  background-size: cover;
	}

  </style>
</head>

<body>



	{% block title %}<h2 style="text-align:center; color:red;">Resubmission is not allowed </style> </h2>{% endblock %}
{% block body %}
  <h3 style="text-align:center;color:red;">Already Submitted for manual verification</h3>
  
  <p style="text-align:center;margin-top:17%;"><a href="{{ url_for('studenthome') }}"style="color:red">go to studenthome</a></p>
{% endblock %}

<br>
<br>
<br>
<br>
<br>


  

</body>

</html>